if !abonado
  tr
    td.header
      h1
        img(src='../../static/img/common/mail/logo-registradores.png', class='image_fix header_logo', alt='Registradores de España', title='Registradores de España', width='142', height='62', border='0')/
else
  tr
    td.header
      h1
        span Cabecera abonado