tr
  td(style="padding-bottom:20px;")
    table(cellpadding="0" cellspacing="0" border="0" width="580" align="center" class="deviceWidth" style="font-family: Arial, Helvetica, sans-serif; max-width: 580px; margin: 0 auto;line-height: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;")
      tr
        td(style="font-size: 14px; line-height: 22px; padding-top:30px;padding-bottom:10px;")
          p(style="margin:0; padding:0; font-size: 14px; line-height: 22px") Gracias por utilizar este servicio de los Registradores de España.

      tr
        td(style="border-top: 1px solid #e8e8e8; width: 100%; font-size: 12px; line-height: 20px; padding-top:16px; padding-bottom:60px;")
          p(style="margin:0; padding:0; padding-bottom:10px; font-size: 12px; line-height: 20px") Nuestro Servicio de Atención al Usuario está a su disposición
          p(style="margin:0; padding:0; padding-bottom:10px; font-size: 12px; line-height: 20px; font-weight: bold") <a href="tel:902734375">902 734 375</a> / <a href="tel:912701796">91 270 17 96</a> / <a href="mailto:abonados.propiedad@registradores.org" target="_blank" class="link">abonados.propiedad@registradores.org

      tr
        td
          table(width="100%", style="border-top: 1px solid #e8e8e8; width: 100%; font-size: 12px")
            tr
              td(width="50%", style="width: 50%; text-align: left", class="fullWidth")
                img(src='../../static/img/common/mail/logo-registradores-bn.png', class='image_fix', alt='Registradores de España', title='Registradores de España', width='211', height='67', border='0', style="margin-top: -3px; margin-left: -3px")/

              td(width="50%", style="width: 50%; text-align: right; color: #b42c3a; font-weight: bold; font-size: 12px", class="fullWidth")
                a(href="https://www.registradores.org/registroonline", target="_blank", class="link") <strong> www.registradores.org/registroonline</strong>
