/* Utils */
// gutter

.no-gutter {
    margin-left: -$gutter;
    margin-right: -$gutter;
}
@include responsive(desktop) {
    .gutter {
        margin-left: $gutter;
        margin-right: $gutter;
    }

    .gutter--right {
        margin-right: $gutter;
    }

    .gutter--left {
        margin-left: $gutter;
    }

    .no-gutter {
        margin-left: 0;
        margin-right: 0;
    }
}
// padding gutter
@include responsive(tablet) {
    .p-gutter {
        padding-left: $gutter;
        padding-right: $gutter;
    }

    .p-gutter--right {
        padding-right: $gutter;
    }

    .p-gutter--left {
        padding-left: $gutter;
    }

    .no-p-gutter {
        padding-left: -$gutter;
        padding-right: -$gutter;
    }
}
// colors

.info {
    color: $info-color;
    fill: $info-color;
}

.alert {
    color: $alert-color;
    fill: $alert-color;
}

.success {
    color: $success-color;
    fill: $success-color;
}

.primary {
    color: $brand-primary;
    fill: $brand-primary;
}

.secondary {
    color: $brand-primary-text;
    fill: $brand-primary-text;
}
// margin bottom
.mb-0 {
    margin-bottom: 0;
}

.mb-8 {
    margin-bottom: 0.533333rem;
}

.mb-16 {
    margin-bottom: 1.066667rem;
}

.mb-24 {
    margin-bottom: 1.6rem;
}

.mb-32 {
    margin-bottom: 2.133334rem;
}

.mb-40 {
    margin-bottom: 2.666667rem;
}

.mb-48 {
    margin-bottom: 3.2rem;
}

.mb-56 {
    margin-bottom: 3.733333rem;
}

.mb-64 {
    margin-bottom: 4.266667rem;
}
// margin top

.mt--15 {
    margin-top: -15px;
}

.mt--30 {
  margin-top: -30px;
}
// font-size

.fs-16 {
    font-size: rem(16);
}

.fs-14 {
    font-size: rem(14);
}

.fs-12 {
    font-size: rem(12);
}
// Responsive
//Herlpers

.o-hidden {
    overflow: hidden;
    // position: fixed;
    // width: 100%;
}
.d-block{
  display: block;
}


@include responsive(tablet) {
    .o-hidden {
        overflow: visible;
        position: static;
    }
}
// Old browser

.old-browser {
    display: none;
    overflow: hidden;
}
// Flex

.flex {
    display: flex;

    a {
        width: 50%;
    }
}

//Disabled

.disabled {
  opacity: 0.5 !important;
}
.no-border{
  border: 0 none !important;
}
.no-top-border{
  border-top: 0 none !important;
}
.no-padding-top{
  padding-top: 0 !important;
}
