header.main-header

  .logo
    svg.icon.logo
      use(xlink:href="../../static/img/common/svg/svg-symbols.svg#logo-registradores-simple")
      
  .header-sections
    .header-leftbar
      span Buscar Usuarios
      
    
    .header-content 
      .left-drop-down#leftBar
        #leftArrow-dropDown
      | 16 resultados
      .cnt-filter.pull-right 
        span Filtrar resultados
        svg.icon
          use(xlink:href="../../static/img/common/svg/svg-symbols.svg#filter")
    
      
    .header-rightbar
      
      .content-rightbar.hide
        svg.icon
          use(xlink:href="../../static/img/common/svg/svg-symbols.svg#info-circle")
        | Info
        
      .right-drop-down#rightbar
        #rightArrow-dropDown.close
  
