doctype html
<!--[if lte IE 8]><html lang="es" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="es" class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="es")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="theme-color", content="#af1e2d")

    link(rel="apple-touch-icon", sizes="180x180", href="../static/img/common/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="../static/img/common/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="../static/img/common/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="../static/img/common/favicon/manifest.json")
    link(rel="mask-icon", href="../static/img/common/favicon/safari-pinned-tab.svg", color="#af1e2d")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700",rel="stylesheet")

    link(href='../static/css/common/main.css', rel='stylesheet')

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css")



    - var title = "Guía de estilo v1.0"

    title= title


  body


    // include includes/sidebar.pug

    .uig-wrap

      include includes/_menu.pug

      .uig-header

        h2.title-section.invisible Tradis UI - Guía de estilo

      .uig-content

        .uig-box

          h2.h2.uig-title#typography Tipografía
          .guide-font.font-base
            h1.guide-font__title Open Sans Regular
            p Sed commodo consequat dolor, sit amet volutpat odio suscipit non. <strong>Nunc vel vulputate quam.</strong> Nam molestie pharetra nisl eget pharetra. Sed ut cursus tellus. Duis massa nunc, ornare vitae erat aliquet, sollicitudin tempor metus. Etiam elit ipsum, mattis eget leo vitae, aliquam rutrum ipsum. Ut turpis quam, viverra venenatis nisi a, scelerisque cursus sapien. Sed lacus eros, molestie eu commodo sed, tempus vel felis.

          .guide-font.font-base-bold
            h1.guide-font__title Open Sans Bold
            p Sed commodo consequat dolor, sit amet volutpat odio suscipit non. <strong>Nunc vel vulputate quam.</strong> Nam molestie pharetra nisl eget pharetra. Sed ut cursus tellus. Duis massa nunc, ornare vitae erat aliquet, sollicitudin tempor metus. Etiam elit ipsum, mattis eget leo vitae, aliquam rutrum ipsum.

          .guide-font.font-secondary
            h1.guide-font__title Neo Sans
            p Sed commodo consequat dolor, sit amet volutpat odio suscipit non. <strong>Nunc vel vulputate quam.</strong> Nam molestie pharetra nisl eget pharetra. Sed ut cursus tellus. Duis massa nunc, ornare vitae erat aliquet, sollicitudin tempor metus. Etiam elit ipsum, mattis eget leo vitae, aliquam rutrum ipsum.

          .guide-font.font-secondary-light
            h1.guide-font__title Neo Sans Light
            p Sed commodo consequat dolor, sit amet volutpat odio suscipit non. <strong>Nunc vel vulputate quam.</strong> Nam molestie pharetra nisl eget pharetra. Sed ut cursus tellus. Duis massa nunc, ornare vitae erat aliquet, sollicitudin tempor metus. Etiam elit ipsum, mattis eget leo vitae, aliquam rutrum ipsum. Ut turpis quam, viverra venenatis nisi a, scelerisque cursus sapien. Sed lacus eros, molestie eu commodo sed, tempus vel felis.

          .guide-font.font-secondary-bold
            h1.guide-font__title Neo Sans Bold
            p Sed commodo consequat dolor, sit amet volutpat odio suscipit non. <strong>Nunc vel vulputate quam.</strong> Nam molestie pharetra nisl eget pharetra. Sed ut cursus tellus. Duis massa nunc, ornare vitae erat aliquet, sollicitudin tempor metus. Etiam elit ipsum, mattis eget leo vitae, aliquam rutrum ipsum. Ut turpis quam, viverra venenatis nisi a, scelerisque cursus sapien. Sed lacus eros, molestie eu commodo sed, tempus vel felis.


            //-
              reloadPage();

              Recarga de página.

              <span class="reload-page">Recargar página</span>


              openLateral();

              Abre modal lateral.




        .uig-box
          h2.h2.uig-title#headers Encabezados

          h1.uig-header.title-section Título de Sección


          h1.uig-header.title-page.title-page--noline Título de Sección
            svg.icon.info
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')


          h1.uig-header.title-page Título de página subrayado
            svg.icon.info
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')


          h2.uig-header.title-mod Título de módulo
            svg.icon.info
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')


          h3.uig-header.title-submod Subtítulo de módulo


          h3.uig-header.title-submod Subtítulo de módulo con icono
            svg.icon.info
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')


          h4.uig-header.h4 Título de párrafo


          .tabs
            ul
              li
                a(href="#tabs-1") HTML
              li
                a(href="#tabs-2") Thymeleaf

            #tabs-1
                pre
                  code.hljs
                    :highlight(lang="html")
                      <h1 class="title-section">Título de Sección</h1>
                      <h1 class="title-page">Título de página subrayado</h1>
                      <h3 class="title-mod">Título de módulo</h3>
                      <h3 class="title-submod">Subtítulo de módulo</h3>
                      <h3 class="title-submod">Subtítulo de módulo con icono
                        <svg class="icon info">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#help-circle"></use>
                        </svg>
                      </h3>
                      <h4 class="h4">Título de párrafo</h4>


            #tabs-2
              p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.


        .uig-box
          h2.h2.uig-title#text Textos

          p Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit.
          p Este es otro párrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, hic.

          p.small Texto pequeño

          ul.list.list--primary
            li.list__item
              a.link Elemento 1
            li.list__item
              a.link Elemento 2
            li.list__item
              a.link Elemento 3

          .tabs
            ul
              li
                a(href="#tabs-1") HTML
              li
                a(href="#tabs-2") Thymeleaf

            #tabs-1
                pre
                  code.hljs
                    :highlight(lang="html")
                      <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit.</p>
                      <p>Este es otro párrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, hic.</p>
                      <p class="small">Texto pequeño</p>

                      <ul class="list list--primary">
                        <li class="list__item"><a class="link">Elemento 1</a></li>
                        <li class="list__item"><a class="link">Elemento 2</a></li>
                        <li class="list__item"><a class="link">Elemento 3</a></li>
                      </ul>


            #tabs-2
              p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.


        .uig-box
          h2.h2.uig-title#colors Colores

          .guide-color.brand-primary Rojo Contraste Extremo. Coporativo
          .guide-color.grey-medium Gris Contraste Medio
          .guide-color.grey-high Gris Contraste Alto
          .guide-color.grey-highest Gris Contraste Muy Alto
          .guide-color.grey-lowest Gris Contraste Muy Bajo
          .guide-color.guide-info.grid-a-12.grid-b-4 Info
          .guide-color.guide-success.grid-a-12.grid-b-4 Realizado
          .guide-color.guide-alert.grid-a-12.grid-b-4 Alerta

          //- .tabs
          //-   ul
          //-     li
          //-       a(href="#tabs-1") HTML
          //-     li
          //-       a(href="#tabs-2") Thymeleaf
          //-
          //-   #tabs-1
          //-       pre
          //-         code.hljs
          //-           :highlight(lang="html")
          //-             <div class="uig-box">
          //-       				<h2 class="h2 uig-title">Colores</h2>
          //-       				<div class="guide-color brand-primary">Rojo Contraste Extremo. Coporativo</div>
          //-       				<div class="guide-color grey-medium">Gris Contraste Medio</div>
          //-       				<div class="guide-color grey-high">Gris Contraste Alto</div>
          //-       				<div class="guide-color grey-highest">Gris Contraste Muy Alto</div>
          //-       				<div class="guide-color grey-lowest">Gris Contraste Muy Bajo</div>
          //-       				<div class="guide-color guide-info grid-a-12 grid-b-4">Info</div>
          //-       				<div class="guide-color guide-success grid-a-12 grid-b-4">Realizado</div>
          //-       				<div class="guide-color guide-alert grid-a-12 grid-b-4">Alerta</div>
          //-             </div>
          //-
          //-
          //-   #tabs-2


        .uig-box
          h2.h2.uig-title#interaction Interacción

          h3.title-mod Enlaces

          .uig-box

            p
              a.link(href='#') Enlace sin estilo
            p
              a.link.link--primary(href='#') Enlace estilo principal
            p
              a.link.link--secondary(href='#') Enlace estilo secundario

            textarea.guide-code(readonly)
              a.link.link--primary(href='#') Enlace estilo principal
              a.link.link--secondary(href='#') Enlace estilo secundario

            p
              a.link.link--primary.link--icon(href='#')
                span Enlace con icono
                svg.icon.rotate-180
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')

            p
              a.btn.btn--primary.btn--medium(href='#') Enlace con aspecto de botón



          h3.title-mod Botones grandes

          .uig-box
            p
              button.btn.btn--primary Botón principal

            p
              button.btn.btn--secondary Botón secundario

            p
              button.btn.btn--secondary Botón secundario deshabilitado

            p
              button.btn.btn--secondary.btn--icon
                span Botón con icono
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#shield')

            p
              button.btn.btn--flat Botón plano

            p
              button.btn.btn--success Botón validado

            p
              button.btn.btn--flat.btn--disabled Botón deshabilitado


            span.show-code Ver código
            pre
              code.hljs
                :highlight(lang="html")
                    <button class="btn btn--primary">Botón principal</button>

                    <button class="btn btn--secondary">Botón secundario</button>

                    <button class="btn btn--secondary btn--disabled">Botón secundario deshabilitado</button>

                    <button class="btn btn--secondary btn--icon"><span>Botón con icono
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#shield"></use>
                        </svg></span>
                    </button>

                    <button class="btn btn--flat">Botón plano</button>

                    <button class="btn btn--success">Botón validado</button>

                    <button class="btn btn--flat btn--disabled">Botón deshabilitado</button>


          h3.title-mod Botones medianos

          .uig-box

            p
              button.btn.btn--primary.btn--medium Botón mediano principal

            p
              button.btn.btn--secondary.btn--medium Botón mediano secundario

            p
              button.btn.btn--secondary.btn--medium.btn--icon
                span Botón mediano con icono
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#shield')

            p
              button.btn.btn--flat.btn--medium Botón mediano plano

            p
              button.btn.btn--flat.btn--medium.btn--disabled Botón mediano deshabilitado


          h3.title-mod Botones pequeños

          .uig-box
            p
              button.btn.btn--primary.btn--small Botón pequeño

            p
              button.btn.btn--primary.btn--small.btn--icon
                span Botón pequeño con icono
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')

            p
              button.btn.btn--secondary.btn--small Botón pequeño secundario

            p
              button.btn.btn--flat.btn--small Botón pequeño plano


        .uig-box
          h2.h2.uig-title#forms Formularios

            h3.title-mod Campos de texto

            .uig-box

              .form-box
                label.label Nombre
                input.input(type='text',placeholder='Introduce nombre')

              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label" for="name">Nombre</label>
                      <div class="input-btn">
                        <input class="input" id="name" type="text" placeholder="Introduce nombre"><a class="btn btn--primary btn--input">Validar</a>
                      </div>
                    </div>

              .form-box
                label.label Campo sólo lectura
                input.input(type='text',value='Comunidad de Madrid',placeholder='Introduce nombre',readonly)

              .form-box
                label.label Teléfono móvil
                input.input(type='text',placeholder='Introduce nombre')
                .cb-option
                  label.cb-label(for='option1')
                    input#option1.invisible.checkbox(type='checkbox')
                    span.cb-pick
                    span.cb-text Check 1


              .form-box
                label.label(for='name') Nombre
                .input-btn
                  input.input#name(type='text',placeholder='Introduce nombre')
                  a.btn.btn--primary.btn--input Validar

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label" for="name">Nombre</label>
                      <div class="input-btn">
                        <input class="input" id="name" type="text" placeholder="Introduce nombre"><a class="btn btn--primary btn--input">Validar</a>
                      </div>
                    </div>

              .form-box
                label.label Contraseña
                input.input(type='password',placeholder='Introduce contraseña')
                .form-text Mínimo 4, máximo 12 (números, letras o símbolos)
                .pw-bar.pw-bar--insecure
                  .pw-bar__bar
                    span.pw-bar__line
                  .pw-bar__text Muy débil

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label">Contraseña</label>
                      <input class="input" type="password" placeholder="Introduce contraseña">
                      <div class="form-text">Mínimo 4, máximo 12 (números, letras o símbolos)</div>
                      <div class="pw-bar pw-bar--insecure">
                        <div class="pw-bar__bar"><span class="pw-bar__line"></span></div>
                        <div class="pw-bar__text">Muy débil</div>
                      </div>
                    </div>


              .form-box
                label.label Contraseña
                input.input(type='password',placeholder='Introduce contraseña',data-sha3='sha3')

              .form-box
                label.label Contraseña codificada SHA3
                input.input.sha3(type='text',placeholder='Introduce contraseña')


              pre
                code.hljs
                  :highlight(lang="html")
                    sha3_512('Message to hash');
                    sha3_384('Message to hash');
                    sha3_256('Message to hash');
                    sha3_224('Message to hash');
                    keccak512('Message to hash');
                    keccak384('Message to hash');
                    keccak256('Message to hash');
                    keccak224('Message to hash');
                    shake128('Message to hash', 256);
                    shake256('Message to hash', 512);
                    cshake128('Message to hash', 256, 'function name', 'customization');
                    cshake256('Message to hash', 512, 'function name', 'customization');
                    kmac128('key', 'Message to hash', 256, 'customization');
                    kmac256('key', 'Message to hash', 512, 'customization');

                    // Support ArrayBuffer output
                    var buffer = keccak224.buffer('Message to hash');

                    // Support Array output
                    var buffer = keccak224.array('Message to hash');

                    // update hash
                    sha3_512.update('Message ').update('to ').update('hash').hex();
                    // specify shake output bits at first update
                    shake128.update('Message ', 256).update('to ').update('hash').hex();


              .form-box
                label.label Campo válido
                .form-ico.form-ico--out.form-ico--success
                  input.input(type='text',placeholder='Introduce nombre')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#check-circle')

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label">Campo válido</label>
                      <div class="form-ico form-ico--out form-ico--success">
                        <input class="input" type="text" placeholder="Introduce nombre">
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#check-circle"></use>
                        </svg>
                      </div>

              .form-box
                label.label Error en campo
                .form-ico.form-ico--out.form-ico--error
                  input.input(type='text',placeholder='Introduce nombre')
                  .form-text El campo debe ser numérico
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#error-circle')

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label">Error en campo</label>
                      <div class="form-ico form-ico--out form-ico--error">
                        <input class="input" type="text" placeholder="Introduce nombre">
                        <div class="form-text">El campo debe ser numérico</div>
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#error-circle"></use>
                        </svg>
                      </div>
                    </div>


              .form-box
                label.label(for='iDate') Fecha
                .form-ico.form-ico--date
                  input.input.input--calendar#iDate(type='text',placeholder='Selecciona una fecha')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#calendar')

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label" for="iDate">Fecha</label>
                      <div class="form-ico form-ico--date">
                        <input class="input input--calendar" id="iDate" type="text" placeholder="Selecciona una fecha">
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#calendar"></use>
                        </svg>
                      </div>
                    </div>

              .form-box
                label.label(for='iSearch') Buscar
                .form-ico
                  input.input#iSearch(type='text',placeholder='Buscar por periodo, fecha, NIF ...')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#search')

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label" for="iSearch">Buscar</label>
                      <div class="form-ico">
                        <input class="input" id="iSearch" type="text" placeholder="Buscar por periodo, fecha, NIF ...">
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#search"></use>
                        </svg>
                      </div>
                    </div>

              .form-box
                label.label Textarea
                textarea.textarea(name='textarea',rows=3)

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label">Textarea</label>
                      <textarea class="textarea" name="textarea" rows="3"></textarea>
                    </div>


            h3.title-mod autocomplete

            .uig-box

              //- .form-box
              //-   label.label Provincia
              //-   .form-ico
              //-     input.input.provincias(type='text',placeholder='Provincia')
              //-     svg.icon
              //-       use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')


              .form-box
                label.label(for="comu") Comunidades
                select.select.comu#comu(data-depend="provi01",data-load="muni")

                label.label(for="provi01") Provincias
                select.select#provi01(data-depend="muni01")


                label.label(for="comunidades") Autonomía
                .form-ico
                  input.input.comu#comunidades(type='text',value="",placeholder='Especifíque una autonomia')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')

              .form-box
                label.label(for="provincia") Provincia
                .form-ico
                  input.input.comu#provincia(type='text',value="",placeholder='Especifíque una provincia')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')


              .form-box
                label.label(for="municipio") Municipio
                .form-ico
                  input.input.comu#municipio(type='text',value="",placeholder='Especifíque un municipio')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')

              .form-box
                label.label(for="registro") Registro
                .form-ico
                  input.input.comu#registro(type='text',value="",placeholder='Especifíque un registro')
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')



            h3.title-mod Selector

            .uig-box
              .form-box
                label.label Selecciona provincia
                .form-ico.form-ico--select
                  select#select.select
                    option Córdoba
                    option Madrid
                    option Teruel
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-down')


              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="form-box">
                      <label class="label">Selecciona provincia</label>
                      <div class="form-ico form-ico--select">
                        <select class="select" id="select">
                          <option>Córdoba</option>
                          <option>Madrid</option>
                          <option>Teruel</option>
                        </select>
                        <svg class="icon">
                          <use xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-down"></use>
                        </svg>
                      </div>

            h3.title-mod Fortaleza del password

            .uig-box
              .pw-bar.pw-bar--insecure
                .pw-bar__bar
                  span.pw-bar__line
                .pw-bar__text Insegura

              .pw-bar.pw-bar--weak
                .pw-bar__bar
                  span.pw-bar__line
                .pw-bar__text Débil

              .pw-bar.pw-bar--medium
                .pw-bar__bar
                  span.pw-bar__line
                .pw-bar__text Media

              .pw-bar.pw-bar--good
                .pw-bar__bar
                  span.pw-bar__line
                .pw-bar__text Segura

              span.show-code Ver código
              pre
                code.hljs
                  :highlight(lang="html")
                    <div class="pw-bar pw-bar--insecure">
                      <div class="pw-bar__bar"><span class="pw-bar__line"></span></div>
                      <div class="pw-bar__text">Insegura</div>
                    </div>

                    <div class="pw-bar pw-bar--weak">
                      <div class="pw-bar__bar"><span class="pw-bar__line"></span></div>
                      <div class="pw-bar__text">Débil</div>
                    </div>

                    <div class="pw-bar pw-bar--medium">
                      <div class="pw-bar__bar"><span class="pw-bar__line"></span></div>
                      <div class="pw-bar__text">Media</div>
                    </div>

                    <div class="pw-bar pw-bar--good">
                      <div class="pw-bar__bar"><span class="pw-bar__line"></span></div>
                      <div class="pw-bar__text">Segura</div>
                    </div>



            h3.title-mod Checkbox

            .uig-box
              .cb-group
                fieldset
                  legend.invisible Checkbox
                  .cb-option
                    label.cb-label(for='option1')
                      input#option1.invisible.checkbox(type='checkbox')
                      span.cb-pick
                      span.cb-text Check 1

                  .cb-option
                    label.cb-label(for='option2')
                      input#option2.invisible.checkbox(type='checkbox')
                      input(name="_features", type="hidden", value="on")

                      span.cb-pick
                      span.cb-text Check 2

            h3.title-mod Radio button

            .uig-box
              .rb-group
                fieldset
                  legend.invisible Radio button vertical
                  .rb-option
                    label.rb-label(for='radio1')
                      input#radio1.invisible.radiobutton(type='radio',name='radio',checked)
                      span.rb-pick
                      span.rb-text Check 1
                      span.rb-line



                  .rb-option
                    label.rb-label(for='radio2')
                      input#radio2.invisible.radiobutton(type='radio',name='radio')
                      span.rb-pick
                      span.rb-text Check 2
                      span.rb-line


              .rb-group.rb-group--horizontal.rb-group--line
                fieldset
                  legend.invisible Radio button horizontal
                  .rb-option
                    label.rb-label(for='radioh1')
                      input#radioh1.invisible.radiobutton(type='radio',name='radioh',checked)
                      span.rb-pick
                      span.rb-text Check 1
                      span.rb-line


                  .rb-option
                    label.rb-label(for='radioh2')
                      input#radioh2.invisible.radiobutton(type='radio',name='radioh')
                      span.rb-pick
                      span.rb-text Check 2
                      span.rb-line


              .rb-group.rb-group--horizontal.rb-group--line
                fieldset
                  legend.invisible Radio button horizontal con icono
                  .rb-option
                    label.rb-label(for='radioh1b')
                      input#radioh1b.invisible.radiobutton(type='radio',name='radiohb',checked)
                      span.rb-pick
                      span.rb-text Check 1
                      span.rb-line


                  .rb-option
                    label.rb-label(for='radioh2b')
                      input#radioh2b.invisible.radiobutton(type='radio',name='radiohb')
                      span.rb-pick
                      span.rb-text Check 2
                        svg.icon(style='width: 80px; height: 24px')
                          use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-paypal')
                      span.rb-line


              .rb-group.rb-group--horizontal.rb-group--line
                fieldset
                  legend Seleccione un método de pago
                  .rb-option
                    label.rb-label(for='radioh1s')
                      input#radioh1s.invisible.radiobutton(type='radio',name='radioh',data-content='radioh--0',checked)
                      span.rb-pick
                      span.rb-text Tarjeta Bancaria
                      span.rb-line

                  .rb-option
                    label.rb-label(for='radioh2s')
                      input#radioh2s.invisible.radiobutton(type='radio',name='radioh',data-content='radioh--1')
                      span.rb-pick
                      span.rb-text
                        svg.icon(style='width: 80px; height: 24px')
                          use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-paypal')
                      span.rb-line


              form.form(action='preficha-propiedad.html')
                .form-panel.radioh.radioh--0
                  .row
                    .form-box.grid-a-12.grid-c-6
                      label.label(for='idnombre') Número de tarjeta
                      input.input#idnombre(type='text',placeholder='Introduzca un número de tarjeta')

                    .paycards.grid-c-6
                      p Tarjetas aceptadas
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-visa')
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-mastercard')
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-american-express')
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-jcb')

                .form-panel.radioh.radioh--1.hide
                  .row
                    .form-box.grid-a-12.grid-c-6

                      p PayPal es la forma fácil y segura de enviar y recibir pagos por Internet. Envíe dinero y reciba pagos rápidamente y en pocos pasos.

                      a.link.link--primary Abrir cuenta paypal



            h3.title-mod Añadir archivo

            .uig-box

              form.add-file
                input.add-file__input#fileupload(type='file', name='fileupload', value='fileupload')
                label.btn.btn--secondary.btn--medium(for='fileupload') Seleccionar un archivo
                span.add-file__file
                span.add-file__info Peso máximo permitido 2Mb.

        .uig-box
          h2.h2.uig-title#tables Tablas

          .table-filter
            .table-filter__head

              //.table-filter__text Se muestran 3 solicitudes: "15/06/2016 - 25/08/2016" -
                a.link.link--primary  Eliminar filtro


              .table-filter__show
                a.link.link--primary.link--icon.link--filter
                  span Filtrar
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#filter')

            .table-filter__options(style='display: none')
              form.form
                .form-box.grid-a-12.grid-c-2
                  label.label.hide Periodo
                  .form-ico.form-ico--select
                    select#select.select
                      option(value='') Periodo
                      option(value='semanal') Semanal
                      option(value='mensual') Mensual
                      option(value='anual') Anual
                    svg.icon
                      use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-down')

                .form-box.grid-a-12.grid-c-3.p-gutter--left
                  .grid-a-6
                    label.label.hide(for='startDate') Fecha inicial
                    .form-ico.form-ico--date
                      input.input.input--calendar#startDate(type='text',placeholder='Incio')
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#calendar')

                  .grid-a-6
                    label.label.hide(for='endDate') Fecha final
                    .form-ico.form-ico--date
                      input.input.input--calendar#endDate(type='text',placeholder='Final')
                      svg.icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#calendar')



                .form-box.grid-a-12.grid-c-offset-3.grid-c-4
                  label.label.hide(for='searchTable') Búsqueda
                  .form-ico
                    input.input#searchTable(type='text',placeholder='Buscar por identificador, NIF, estado ...')
                    svg.icon
                      use(xlink:href='../static/img/common/svg/svg-symbols.svg#search')
                .row
                  .table-filter__buttons(style="display:none")
                    a.btn.btn--flat.btn--small.apply-filter Aplicar filtro
                    a.link.link--primary.delete-filter Eliminar filtro

          table.table.table--default.grid-a-12
            thead.table-head
              tr
                th
                  span Apellidos / Denominación social
                th
                  span
                    abbr(title='Número de identficación fiscal') NIF
            tbody.table-body
              tr
                td(data-label='Apellidos / Den. social')
                  .cb-option
                    label.cb-label(for='nif0')
                      input#nif0.invisible.checkbox(type='checkbox')
                      span.cb-pick
                      span.cb-text Banco Crédito Ahorro

                td(data-label='NIF') 180056887Z
              tr
                td(data-label='Apellidos / Den. social')
                  .cb-option
                    label.cb-label(for='nif1')
                      input#nif1.invisible.checkbox(type='checkbox')
                      span.cb-pick
                      span.cb-text Bankia S.A.U
                td(data-label='NIF') 005888972T

              tr
                td(data-label='Apellidos / Den. social')
                  .cb-option
                    label.cb-label(for='nif2')
                      input#nif2.invisible.checkbox(type='checkbox')
                      span.cb-pick
                      span.cb-text Banco Lorem Ipsum
                td(data-label='NIF') 005888973C

        .uig-box
          h2.h2.uig-title#pagination Paginación

          .uig-box
            h3.title-mod Selección de páginas

            .pagination
              ul.list
                li.list__item.list__item--nav
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-simple')
                  span.list-text Anterior
                li.list__item.list__item--num.list__item--active 1
                li.list__item.list__item--num
                  a.link(href='#') 2
                li.list__item.list__item--num
                  a.link(href='#') 3
                li.list__item.list__item--nav
                  a.link ...
                li.list__item.list__item--num
                  a.link(href='#') 10
                li.list__item.list__item--nav
                  a.link.link--primary(href='#')
                    span.list-text Siguiente
                    svg.icon.rotate-180
                      use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-simple')


            span.show-code Ver código
            pre
              code.hljs
                :highlight(lang="html")
                  <div class="pagination">
                    <ul class="list">
                        <li class="list__item list__item--nav">
                          <svg class="icon">
                            <use xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-simple"></use>
                          </svg><span class="list-text">Anterior</span>
                        </li>
                        <li class="list__item list__item--num list__item--active">1</li>
                        <li class="list__item list__item--num"><a class="link" href="#">2</a></li>
                        <li class="list__item list__item--num"><a class="link" href="#">3</a></li>
                        <li class="list__item list__item--nav"><a class="link">...</a></li>
                        <li class="list__item list__item--num"><a class="link" href="#">10</a></li>
                        <li class="list__item list__item--nav"><a class="link link--primary" href="#"><span class="list-text">Siguiente</span>
                            <svg class="icon rotate-180">
                              <use xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-simple"></use>
                            </svg></a>
                        </li>
                    </ul>
                  </div>

          .uig-box
            h3.title-mod Sencilla

            .pagination
              ul.list
                li.list__item.list__item--nav
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-simple')
                  span.list-text Anterior
                li.list__item.list__item--nav
                  a.link.link--primary(href='#')
                    span.list-text Siguiente
                    svg.icon.rotate-180
                      use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-simple')

            span.show-code Ver código
            pre
              code.hljs
                :highlight(lang="html")
                  <div class="pagination">
                    <ul class="list">
                          <li class="list__item list__item--nav">
                            <svg class="icon">
                              <use xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-simple"></use>
                            </svg><span class="list-text">Anterior</span>
                          </li>
                          <li class="list__item list__item--nav"><a class="link link--primary" href="#"><span class="list-text">Siguiente</span>
                              <svg class="icon rotate-180">
                                <use xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-simple"></use>
                              </svg></a>
                          </li>
                    </ul>
                  </div>


        .uig-box

          h2.h2.uig-title#messages Mensajes

          .form-msg.form-msg--success
            p Este es un mensaje de confirmación sencillo de formulario.
            .form-msg__border
            a.close-msg(title='Cerrar mensaje')
              svg.form-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="form-msg form-msg--error">
                	<p>Este es un mensaje de error sencillo de formulario.</p>
                	<div class="form-msg__border"></div><a class="close-msg" title="Cerrar mensaje">
                		<svg class="form-msg__icon">
                			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../static/img/common/svg/svg-symbols.svg#close"></use>
                		</svg></a>
                </div>


          .form-msg.form-msg--error
            p Este es un mensaje de error sencillo de formulario.
            .form-msg__border
            a.close-msg(title='Cerrar mensaje')
              svg.form-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="form-msg form-msg--error">
                	<p>Este es un mensaje de error sencillo de formulario.</p>
                	<div class="form-msg__border"></div><a class="close-msg" title="Cerrar mensaje">
                		<svg class="form-msg__icon">
                			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../static/img/common/svg/svg-symbols.svg#close"></use>
                		</svg></a>
                </div>


          .form-msg.form-msg--info
            p Este es un mensaje de información sencillo de formulario.
            .form-msg__border
            a.close-msg(title='Cerrar mensaje')
              svg.form-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="form-msg form-msg--error">
                	<p>Este es un mensaje de error sencillo de formulario.</p>
                	<div class="form-msg__border"></div><a class="close-msg" title="Cerrar mensaje">
                		<svg class="form-msg__icon">
                			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../static/img/common/svg/svg-symbols.svg#close"></use>
                		</svg></a>
                </div>
          .row
            .form-msg
              p Este es un mensaje sin estilo definido.
              .form-msg__border
              a.close-msg(title='Cerrar mensaje')
                svg.form-msg__icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="form-msg">
                  <p>Este es un mensaje sin estilo definido.</p>
                  <div class="form-msg__border"></div><a class="close-msg" title="Cerrar mensaje">
                    <svg class="form-msg__icon">
                      <use xlink:href="../static/img/common/svg/svg-symbols.svg#close"></use>
                    </svg></a>
                </div>

          .row
            .gen-msg.gen-msg--info.grid-a-4
              .gen-msg__text
                p Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.
              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="gen-msg gen-msg--info grid-a-4">
                  <div class="gen-msg__text">
                    <p>Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.</p>
                  </div>
                  <svg class="gen-msg__icon">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#info-circle"></use>
                  </svg>
                </div>

          .row
            .gen-msg.gen-msg--error.grid-a-4
              .gen-msg__text
                p Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.
              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="gen-msg gen-msg--error grid-a-4">
                  <div class="gen-msg__text">
                    <p>Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.</p>
                  </div>
                  <svg class="gen-msg__icon">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#info-circle"></use>
                  </svg>
                </div>

          .row
            .gen-msg.gen-msg--success.grid-a-4
              .gen-msg__text
                p Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.
              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="gen-msg gen-msg--success grid-a-4">
                  <div class="gen-msg__text">
                    <p>Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.</p>
                  </div>
                  <svg class="gen-msg__icon">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#info-circle"></use>
                  </svg>
                </div>

          .row
            .gen-msg.grid-a-4
              .gen-msg__text
                p Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.
              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="gen-msg gen-msg--success grid-a-4">
                  <div class="gen-msg__text">
                    <p>Este es un mensaje de información o ayuda con un estilo “destacado” para explicar la interfaz. Solamente deberá haber un concepto informativo por elemento.</p>
                  </div>
                  <svg class="gen-msg__icon">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#info-circle"></use>
                  </svg>
                </div>

          .row
            .gen-msg.gen-msg--btn.gen-msg--info
              .gen-msg__text
                p Está solicitando varias notas simples de fincas de un mismo titular. <br> Por privacidad no podemos ofrecerle la cantidad total de fincas que tiene, solamente los registros donde se encuentran.
              .gen-msg__btn.close-msg
                a.btn.btn--msg Entendido
              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="gen-msg gen-msg--btn gen-msg--info">
                  <div class="gen-msg__text">
                    <p>Está solicitando varias notas simples de fincas de un mismo titular. <br> Por privacidad no podemos ofrecerle la cantidad total de fincas que tiene, solamente los registros donde se encuentran.</p>
                  </div>
                  <div class="gen-msg__btn close-msg"><a class="btn btn--msg">Entendido</a></div>
                  <svg class="gen-msg__icon">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#info-circle"></use>
                  </svg>
                </div>

          .row
            .hlight-msg.grid-a-4
              p
                strong Registro donde se encuentra la propiedad
              p Registro de la Propiedad Gijón/Xixón Nº 05
              a.link.link--primary Quitar selección

              svg.icon.hlight-msg__icon.success
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#check-filled-circle')

          span.show-code Ver código
          pre
            code.hljs
              :highlight(lang="html")
                <div class="hlight-msg grid-a-4">
                  <p><strong>Registro donde se encuentra la propiedad</strong></p>
                  <p>Registro de la Propiedad Gijón/Xixón Nº 05</p><a class="link link--primary">Quitar selección</a>
                  <svg class="icon hlight-msg__icon success">
                    <use xlink:href="../static/img/common/svg/svg-symbols.svg#check-filled-circle"></use>
                  </svg>
                </div>

        .uig-box
          h2.h2.uig-title#status Estados

          .row
            ul

              li
                span.status.status--yellow
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#clock')
                  | Inicializada

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--yellow">
                        <svg class="icon">
                          <use xlink:href="#clock"></use>
                        </svg>Inicializada
                      </span>

              li
                span.status.status--yellow
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#clock')
                  | Creada

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--yellow">
                        <svg class="icon">
                          <use xlink:href="#clock"></use>
                        </svg>Creada
                      </span>

              li
                span.status.status--blue
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#clock')
                  | Pendiente de registro

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--blue">
                        <svg class="icon">
                          <use xlink:href="#clock"></use>
                        </svg>Pendiente de registro
                      </span>

              li
                span.status.status--blue
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#clock')
                  | Pendiente de usuario

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--blue">
                        <svg class="icon">
                          <use xlink:href="#clock"></use>
                        </svg>Pendiente de usuario
                      </span>

              li
                span.status.status--green
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#check-filled-circle')
                  | Respondida

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--green">
                        <svg class="icon">
                          <use xlink:href="#check-filled-circle"></use>
                        </svg>Respondida
                      </span>


              li
                span.status.status--grey
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#blocked')
                  | Denegada

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--grey">
                        <svg class="icon">
                          <use xlink:href="#blocked"></use>
                        </svg>Denegada
                      </span>

              li
                span.status.status--black
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#blocked')
                  | Anulada

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--black">
                        <svg class="icon">
                          <use xlink:href="#blocked"></use>
                        </svg>Anulada
                      </span>

              li
                span.status.status--black
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#blocked')
                  | Error

                pre
                  code.hljs
                    :highlight(lang="html")
                      <span class="status status--black">
                        <svg class="icon">
                          <use xlink:href="#blocked"></use>
                        </svg>Error
                      </span>


        .uig-box
          h2.h2.uig-title#modal Modal

          p
            button.btn.btn--primary.modal-open(data-content='modal01') Abrir modal

          p
            button.btn.btn--primary.modal-lateral-open(data-content='modal02') Abrir ventana lateral

          p
            .cb-option
              label.cb-label.link.modal-open(for='propiedad', data-content='modal-terms')
                input#propiedad.invisible.checkbox(type='checkbox', disabled)
                span.cb-pick
                span.cb-text Debe leer y aceptar los Términos y Condiciones de uso del servicio.
            a(data-content='modal-terms')

        .uig-box
          h2.h2.uig-title#icons Iconos


          .uig-text
            p Para la iconografia se utlizan archivos svg

          pre
            code.hljs
              :highlight(lang="html")
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../static/img/common/svg/svg-symbols.svg#arrow-circle"></use>
                </svg>

          .guide-icons

            h2.title-mod#sections Genéricos

            ul.list.small

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')
                span arrow-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-filled')
                span arrow-filled

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-simple')
                span arrow-simple

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-down')
                span arrow-down

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-list')
                span arrow-list

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#check-circle')
                span check-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#check-filled-circle')
                span check-filled-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#error-circle')
                span error-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')
                span info-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')
                span help-circle

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#menu')
                span menu

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#autocomplete')
                span autocomplete

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#shield')
                span shield

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#user')
                span user

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#user-menu')
                span user-menu

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#calendar')
                span calendar

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#search')
                span search

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#add')
                span add

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#check')
                span check

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#filter')
                span filter

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#download')
                span download

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#download-file')
                span download-file

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#blocked')
                span blocked

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#clock')
                span clock

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file')
                span file

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#euro')
                span euro

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')
                span close

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#print')
                span print

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#stats')
                span stats
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#screen')
                span screen
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#car')
                span car
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#suitcase')
                span suitcase
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#home')
                span home
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#downloads')
                span downloads

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#at')
                span at

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#padlock')
                span padlock

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#grow-text')
                span grow-text

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#reduce-text')
                span reduce-text

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#more')
                span more

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#less')
                span less

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#deactivate')
                span deactivate



            h2.title-mod#files Tipos de archivo

            ul.list.small

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-csv')
                span file-csv
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-zip')
                span file-zip
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-xls')
                span file-xls
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-sql')
                span file-sql
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-pdf')
                span file-pdf
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-ods')
                span file-ods
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-odf')
                span file-odf
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-exe')
                span file-exe
              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#file-doc')
                span file-doc


            h2.title-mod#sections Secciones

            ul.list.small

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-apply')
                span sec-apply

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-car')
                span sec-car

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-card')
                span sec-card

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-company')
                span sec-company

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-folder')
                span sec-folder

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-home')
                span sec-home

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-key')
                span sec-key

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-payment')
                span sec-payment

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-pen')
                span sec-pen

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#sec-phone')
                span sec-phone

            h2.title-mod Logo Registradores

            ul.list.big

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-registradores')
                span logo-registradores

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-registradores-center')
                span logo-registradores-center

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-registradores-line')
                span logo-registradores-line

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-registradores-simple')
                span logo-registradores-simple

            h2.title-mod Métodos de pago

            ul.list.small

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-visa')
                span logo-visa

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-mastercard')
                span logo-mastercard

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-american-express')
                span logo-american-express

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-paypal')
                span logo-paypal

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-verified-visa')
                span logo-verified-visa

              li.list__item
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-secure-mastercard')
                span logo-secure-mastercard                
      <!-- Modal centrada -->
      .modal
        .modal-box
          .modal-content

            .modal01.hidden
              h1.modal-title Modal centrada 01
              .modal-text
                p Se advierte que la presente búsqueda comprende, no sólo el dominio, sino todos los derechos que pueden estar inscritos a favor de una persona, cualquiera que sea su naturaleza
                p Si a nombre del titular seleccionado no apareciere inscrita ninguna finca o derecho, se generará una nota de localización negativa circunscrita al ámbito territorial seleccionado.

            .modal02.hidden
              h1.modal-title
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')
                | Modal centrada con icono 02
              .modal-text
                p Se advierte que la presente búsqueda comprende, no sólo el dominio, sino todos los derechos que pueden estar inscritos a favor de una persona, cualquiera que sea su naturaleza
                p Si a nombre del titular seleccionado no apareciere inscrita ninguna finca o derecho, se generará una nota de localización negativa circunscrita al ámbito territorial seleccionado.

            .modal-terms.hidden
              h1.modal-title Términos y Condiciones de uso del servicio
              .modal-text
                .legal-container

                  h3 Condiciones de uso
                  p
                    | Las presentes condiciones tienen por finalidad establecer los requisitos de comunicación de los usuarios con el servidor WEB de los Registros de la Propiedad, Mercantiles y de Bienes Muebles de España y a las informaciones contenidas en las bases de datos de dichos Registros disponibles a través de los Servicios Interactivos Registrales por Internet.
                  p
                    | El usuario será responsable de que sus equipos tengan las características técnicas requeridas para el acceso a la información así como de mantener, en su caso, el secreto de su código y contraseña.
                  p El usuario solo tendrá acceso a la información después de su pago.
                  p
                    | En ningún caso se le confiere derecho de reproducción. La información puesta a disposición del usuario es para su uso exclusivo y tiene el carácter de intransferible
                  p
                    | Queda absolutamente prohibida la retransmisión o cesión, incluso gratuita, de la información por el usuario a cualquier otra persona.
                  p
                    | Queda totalmente prohibida la incorporación de los datos que se contienen en este documento a bases o ficheros informatizados que puedan ser susceptibles de consulta individualizada por personas físicas o jurídicas, y ello aunque se exprese la procedencia de la información (Instrucción DGRN de 17 de febrero de 1998).
                  p
                    | La aplicación de las normas sobre protección de datos de carácter personal y la necesidad de vigilancia de la integridad de los archivos informáticos, impidiendo la copia global o el televaciado de los mismos, puede hacer necesaria, en determinados casos, la limitación de solicitudes masivas de información procedentes de un mismo usuario.
                  p
                    | Además de ello, dada la concepción de los Servicios Interactivos Registrales para un uso generalizado y plural, el sistema debe evitar procedimientos automáticos de obtención de información, que podrían ralentizar las consultas que realicen los usuarios ordinarios. Por todo ello, en cualquier momento, se podrá limitar el número máximo de consultas realizadas por un mismo usuario o a un mismo Registrador.
                  p
                    | El usuario de los Servicios Registrales Interactivos, por el mero hecho de solicitar la información, acepta y se compromete a utilizar los datos registrales obtenidos conforme a las normas y con las limitaciones que establece la Ley Orgánica 15/1999, de 13 de diciembre, sobre el tratamiento automatizado de los datos de carácter personal.
                  p
                    | El usuario es el único responsable de las preguntas que formule y de la utilización que haga de los resultados obtenidos.
                  p
                    | La información podrá solicitarse durante las 24 horas del día, todos los días de la semana. Queda a salvo el derecho a interrumpir el servicio por necesidades de mantenimiento del sistema o por cualquier otra causa que obligue a ello, no siendo responsable el servidor de información de la falta de servicio que pudiera derivarse de causas fortuitas.
                  p
                    | Habiéndose adoptado las medidas de precaución en la elaboración de los programas o aplicaciones para minimizar el riesgo de daño en los equipos propiedad de los usuarios, son responsabilidad de éstos cualesquiera daños y perjuicios que puedan producirse en sus equipos informáticos como consecuencia de la utilización del servidor.
                  p
                    | La lentitud en la transferencia de datos, la falta de disposición total o parcial de la red Internet, así como los errores y fallos imputables a la red no serán responsabilidad en ningún caso del servidor de la información.
                  p
                    | La información es suministrada por el Registrador que la emite, no siendo en ningún caso el servidor de información responsable de su exactitud y veracidad.
                  p
                    | Las facturas correspondientes a las informaciones suministradas serán expedidas, con los requisitos contenidos en el Art. 3 del RD 2402/1985, por el servidor de la información, en nombre y por cuenta de los respectivos Registradores, remitiéndose a través de Internet al destinatario usuario, quien procederá por sus propios medios (impresora) a la confección material de la factura original.
                  p
                    | La falta de pago de cualquier factura dará lugar a que se deniegue el acceso a la información.
                  p
                    | En el supuesto de los usuarios abonados, la prestación del servicio tendrá una duración inicial de seis meses a partir de la primera petición de información y se entenderá prorrogada tácitamente por periodos de igual duración, siempre que no se comunique por escrito y con una antelación de un mes a su vencimiento la voluntad de darlo por terminado.
                  p
                    | Las relaciones derivadas de la prestación del servicio de información se someten expresamente a la legislación española.
                  p Identificación a través de Acceso con certificado.
                  p
                    | Para poder acceder a la Presentación telemática y a otros servicios del portal
                    a.link.link--primary(href='http://www.registradores.org')  www.registradores.org
                    |  el Colegio de Registradores colabora con distintas entidades prestadoras de servicios de certificación, por lo que actualmente los usuarios pueden acceder con los siguientes certificados, siempre que vayan emitidos a una persona física y su nif aparezca en el campo 'Asunto' o 'Serial Number' dentro de la pestaña Detalles, ya que es éste dato del certificado el que el sistema reconoce para su validación.
                  p Las entidades emisoras de certificados válidas son:
                  p Prestador del Servicio de Certificación del Colegio de Registradores
                  ul
                    li FNMT - Fábrica Nacional de Moneda y Timbre
                    li CATCERT - Agència Catalana de Certificació
                    li ACCV - GVA - Autoritat de Certificació de la Comunitat Valenciana
                    li ANCERT (Sólo los certificados de notario) Agencia Notarial Certificación
                    li AC CAMMERFIRMA - Entidad de las Cámaras de Comercio
                    li DNIe - Dirección General de la Policía
                    li ACA - Autoridad de Certificación de la Abogacía
                    li FIRMA PROFESIONAL - Operador global de servicios de certificación
                    li IZENPE - Empresa certificación Gobierno Vasco y Diputaciones Forales
                    li Ley de protección de datos
                  p
                    | De acuerdo con la Ley Orgánica de Protección de Datos de Carácter Personal 15/1999, de 13 de diciembre, el usuario y titular de los datos queda informado y presta su consentimiento inequívoco a la incorporación de sus datos a los siguientes ficheros automatizados: 
                    br
                    br
                    |  "Usuarios de Servicios Interactivos" al tratamiento automatizado del mismo, siendo responsable del fichero y del tratamiento el Colegio de Registradores. El uso y fin del tratamiento de estos datos es gestionar los usuarios abonados que solicitan servicios registrales a través de Internet. 
                    br
                    br
                    |  "Facturación de Servicios Registrales" y al tratamiento automatizado del mismo, siendo responsable del fichero y del tratamiento los Registros de la Propiedad, Mercantiles y Bienes Muebles y cuyo encargado del tratamiento y representante es el Colegio de Registradores. El uso y fin del tratamiento es facilitar la facturación de las peticiones registrales solicitada a través de Internet. 
                    br
                    br
                    |  "Registro de la Propiedad", "Registro Mercantil" o "Registro de Bienes Muebles" y al tratamiento automatizado de los mismos, siendo responsables de los ficheros y de su tratamiento los Registros de la Propiedad, Mercantiles y Bienes Muebles respectivamente y cuyo representante es el Colegio de Registradores. El uso y fin del tratamiento es facilitar la obtención de la información registral solicitada, así como dar cumplimiento a lo establecido por el artículo 15 LOPD, y por el apartado Sexto de la Instrucción de la DGRN de 17 de Febrero de 1998, conforme al cual "Las solicitudes de publicidad formal quedarán archivadas, de forma que siempre se pueda conocer la persona del solicitante, su domicilio y documento nacional de identidad o número de identificación fiscal durante un período de tres años". 
                    br
                    br
                    |  En los casos en los que el usuario proporciona su número de tarjeta con la finalidad de poder proceder a prestar los servicios solicitados, este dato se transmite directamente al proveedor de pasarela de pagos “Ingenico eCommerce Solutions” que es quien procede al almacenamiento seguro de dichos datos en sus servidores. Para el ejercicio de sus derechos de acceso, rectificación, cancelación u oposición, pueden dirigirse a este proveedor en los términos que se establezcan en sus políticas de privacidad. Se informa al usuario que el Colegio de Registradores no tiene acceso en ningún momento a los datos de tarjeta proporcionados, y que la transmisión de estos datos es necesaria para la prestación del servicio de pago por tarjeta. 
                    br
                    br
                    |  El usuario, como titular de los datos, podrá ejercer sus derechos de oposición, acceso, rectificación y cancelación utilizando para ello cualquiera de los canales de comunicación del Colegio de Registradores, dirigida a la Servicio de Sistemas de Información - Seguridad Informática, con dirección en calle Diego de León nº 21, código postal 28006, Madrid, utilizando el Servicio de Atención al Cliente 902 73 43 75 / 91 270 17 96, o a través de la dirección de correo electrónico 
                    a.link.link--primary(href='mailto:soporte.lopd@corpme.es') soporte.lopd@corpme.es
                    | . 
                    br
                    br
                    |  Para más información sobre la "Política de privacidad y Protección de Datos" del Colegio de Registradores pulse 
                    a.link.link--primary(href='https://web-integ.registradores.org/registroonline/estaticas/privacidad.seam') aquí
                    |  (Texto_7)
                  p Política de privacidad y Protección de Datos
                  p
                    | De acuerdo con la Ley Orgánica de Protección de Datos de Carácter Personal 15/1999, de 13 de diciembre, el usuario y titular de los datos queda informado y presta su consentimiento inequívoco a la incorporación de sus datos a los siguientes ficheros automatizados: 
                    br
                    br
                    |  "Usuarios de Servicios Interactivos" y al tratamiento automatizado y no automatizado del mismo, siendo responsable del fichero y del tratamiento el Colegio de Registradores. El uso y fin del tratamiento es gestionar los usuarios abonados que solicitan servicios registrales a través de Internet o servicios de certificación prestados por el Colegio de Registradores. 
                    br
                    br
                    |  "Facturación de Servicios" y al tratamiento automatizado y no automatizado del mismo, siendo responsable del fichero y del tratamiento el Colegio de Registradores. El uso y fin del tratamiento es la facturación relacionada con los servicios interactivos prestados por el Colegio de Registradores. 
                    br
                    br
                    |  "Facturación de Servicios Registrales" y al tratamiento automatizado y no automatizado del mismo, siendo responsable del fichero y del tratamiento los Registros de la Propiedad, Mercantiles y Bienes Muebles y cuyo encargado del tratamiento y representante es el Colegio de Registradores. 
                    br
                    br
                    |  "Registro de la Propiedad", "Registro Mercantil" o "Registro de Bienes Muebles" y al tratamiento automatizado y no automatizado de los mismos, siendo responsables de los ficheros y de su tratamiento los Registros de la Propiedad, Mercantiles y Bienes Muebles respectivamente y cuyo representante es el Colegio de Registradores. El uso y fin del tratamiento es facilitar la obtención de la información registral solicitada, así como dar cumplimiento a lo establecido por el artículo 15 LOPD, y por el apartado Sexto de la Instrucción de la DGRN de 17 de Febrero de 1998, conforme al cual "Las solicitudes de publicidad formal quedarán archivadas, de forma que siempre se pueda conocer la persona del solicitante, su domicilio y documento nacional de identidad o número de identificación fiscal durante un período de tres años". A estos efectos, se advierte que será objeto de tratamiento y archivo, entre otros, el dato de la dirección IP del usuario. 
                    br
                    br
                    |  En los casos en los que el usuario proporciona su número de tarjeta con la finalidad de poder proceder a prestar los servicios solicitados, este dato se transmite directamente al proveedor de pasarela de pagos “Ingenico eCommerce Solutions” que es quien procede al almacenamiento seguro de dichos datos en sus servidores. Para el ejercicio de sus derechos de acceso, rectificación, cancelación u oposición, pueden dirigirse a este proveedor en los términos que se establezcan en sus políticas de privacidad. Se informa al usuario que el Colegio de Registradores no tiene acceso en ningún momento a los datos de tarjeta proporcionados, y que la transmisión de estos datos es necesaria para la prestación del servicio de pago por tarjeta. 
                    br
                    br
                    |  La política de privacidad del Colegio de Registradores asegura el ejercicio de los derechos de acceso, rectificación, cancelación, información de valoraciones y oposición, en los términos establecidos en la legislación vigente, pudiendo utilizar para ello cualquiera de los canales de comunicación del Colegio de Registradores, con dirección en calle Diego de León nº 21, código postal 28006, Madrid, utilizando el servicio de Soporte LOPD (902 181 442 / 91 270 16 99), a través de la dirección de correo electrónico 
                    a.link.link--primary(href='mailto:soporte.lopd@corpme.es') soporte.lopd@corpme.es
                    |  o, en general, por el medio de comunicación que habitualmente utilice. 
                    br
                    br
                    |  El Colegio de Registradores, como Responsable del tratamiento de este fichero y representante de los Registradores, dispone de un departamento responsable del fichero automatizado: Servicio de Sistemas de Información, Diego de León nº 21, código postal 28006, Madrid, donde el usuario también se podrá dirigir por escrito en el caso de que lo encontrara necesario. 
                    br
                    br
                    |  El Colegio de Registradores ha adoptado los niveles de seguridad de protección de los datos Personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas y organizativas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos, cuyo secreto y confidencialidad garantiza. 
                    br
                    br
                    |  La aceptación del usuario para que puedan ser tratados sus datos en la forma indicada, es condición necesaria para la prestación de estos servicios, de forma que el uso de los mismos implica tal aceptación, que tiene siempre carácter revocable, sin efectos retroactivos, conforme a lo que disponen los artículos 6 y 11 de la Ley Orgánica de Protección de Datos de Carácter Personal 15/1999, de 13 de diciembre. El usuario responderá, en cualquier caso, de la veracidad de los datos facilitados. El Colegio de Registradores podrá excluir de los servicios prestados al usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho. 
                    br
                    br
                    |  El Colegio de Registradores se reserva el derecho a modificar la presente Política para adaptarla a novedades legislativas o jurisprudenciales. En dichos supuestos el Colegio de Registradores incluirá en el presente documento los cambios introducidos con razonable antelación a su puesta en práctica.

                .info-legal
                  span Debe leer hasta el final
                  .arrow_icon
                    svg
                      use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow_popup')
                .legal-buttons
                  button#acceptTerms(onclick=).btn.btn--flat.btn--medium.btn--disabled ACEPTAR Y CONTINUAR
                  a.link Descargar Términos y Condiciones de uso del servicio


          a.modal-close(href='#/',title='cerrar ventana')
            svg
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')


      <!-- Modal lateral -->
      .modal-lateral
        .modal-lateral-box
          .modal-lateral-content

            .modal01.hidden
              h1.modal-title Modal lateral 01
              .modal-text
                p Se advierte que la presente búsqueda comprende, no sólo el dominio, sino todos los derechos que pueden estar inscritos a favor de una persona, cualquiera que sea su naturaleza
                p Si a nombre del titular seleccionado no apareciere inscrita ninguna finca o derecho, se generará una nota de localización negativa circunscrita al ámbito territorial seleccionado.

            .modal02.hidden
              h1.modal-title
                svg.icon
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')
                | Modal lateral 02 con icono
              .modal-text
                p Se advierte que la presente búsqueda comprende, no sólo el dominio, sino todos los derechos que pueden estar inscritos a favor de una persona, cualquiera que sea su naturaleza
                p Si a nombre del titular seleccionado no apareciere inscrita ninguna finca o derecho, se generará una nota de localización negativa circunscrita al ámbito territorial seleccionado.

          a.modal-lateral-close(href='#/',title='cerrar ventana')
            svg
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#close')

      .overlay

      include includes/_footer.pug
