.uig-menu

  .uig-menu__header
    a(href='../index.html')
      svg.icon.logo
        use(xlink:href='../static/img/common/svg/svg-symbols.svg#logo-registradores-simple')

  .uig-menu__links

    ul.list
      li.list__item
        a.link(href="#typography") Tipografía

      li.list__item
        a.link(href="#headers") Encabezados

      li.list__item
        a.link(href="#text") Textos

      li.list__item
        a.link(href="#colors") Colores

      li.list__item
        a.link(href="#interaction") Interacción

      li.list__item
        a.link(href="#forms") Formularios

      li.list__item
        a.link(href="#tables") Tablas

      li.list__item
        a.link(href="#pagination") Paginación

      li.list__item
        a.link(href="#messages") Mensajes

      li.list__item
        a.link(href="#status") Estados

      li.list__item
        a.link(href="#modal") Modal

      li.list__item
        a.link(href="#icons") Iconos

    //- a.btn.btn--primary.btn--small(href='../index.html') Volver al índice
