.pdf-footer
  a.link(href='#') www.registradores.org
  p Pág. 1 de 6 La autenticidad de este documento se puede comprobar mediante su código seguro de verificación (CSV) en http://www.registradores.org/csv CSV: 9211600000956325 / Huella: 97db2830-393829c9-adbe5ea8-62a7655c-259eacc3-5d38e84e-04879ad4-d43bfa40
