extends includes/_mail-base.pug

block title
  title  Respuesta positiva

block content  

    include includes/_mail-header.pug
    
    tr
      td(style="padding-top: 24px;")
        p(style="padding-bottom: 10px;", class="text-content")
          strong(class="text-content") Ya se encuentra disponible la certificación solicitada con identificador Z39CC2.
        p(class="text-content") Los honorarios de la solicitud de certificación son:
        p(class="text-content") <strong style="font-size: 20px;">200€</strong> (impuestos no incluidos) 
        <br>
    
    tr
      td
        table(style="margin-bottom: 10px;")
          tr
            td              
              a.btn-red(href='#') Ver solicitud                
                img(src='../../static/img/common/mail/file.png', alt='', width='12', height='15', border='0',style='margin-left: 10px; vertical-align: middle')/

    tr
      td(style="padding-top:20px; padding-bottom:20px;")
        table(style="width:100%; border-top:2px solid #000000;")
          tr
            td(style="width: 100%;", class="detail-box")
              table(style="width:100%;")
                tr
                  td(style="max-width: 180px; display: block; padding-top: 10px") Identificador: <strong>$Z93QZ9</strong>
                  td(style="text-align:right;")
                    span.label-green.label-big enviada    

    include includes/_mail-footer.pug