.breadcrumb
  .breadcrumb__wrap
    ul.list
      li.list__item
        a.link(href="#") Inicio
      li.list__item
        a.link(href="#") Registro de la propiedad
      li.list__item
        a.link(href="#") Buscar
