.icon--add {
  width: 15px;
  height: 15px;
}

.icon--ajustes {
  width: 41px;
  height: 42px;
}
.cls-1 { fill: #af1e2d; fill-rule: evenodd; }

.icon--arrow-circle {
  width: 32px;
  height: 32px;
}

.icon--arrow-down {
  width: 48px;
  height: 48px;
}

.icon--arrow-filled {
  width: 30px;
  height: 30px;
}

.icon--arrow-list {
  width: 512px;
  height: 512px;
}

.icon--arrow-simple {
  width: 32px;
  height: 32px;
}

.icon--autocomplete {
  width: 15px;
  height: 10px;
}

.icon--blocked {
  width: 20px;
  height: 20px;
}

.icon--calendar {
  width: 32px;
  height: 32px;
}

.icon--check-circle {
  width: 30px;
  height: 30px;
}

.icon--check-filled-circle {
  width: 33px;
  height: 33px;
}

.icon--check {
  width: 14px;
  height: 11px;
}

.icon--clock {
  width: 20px;
  height: 20px;
}

.icon--close {
  width: 17px;
  height: 18px;
}

.icon--contenido {
  width: 37px;
  height: 35px;
}
.cls-1 { fill: #af1e2d; fill-rule: evenodd; }

.icon--download-file {
  width: 11px;
  height: 15.4px;
}
.st0{fill:#AF1E2D;}

.icon--download {
  width: 32px;
  height: 32px;
}

.icon--error-circle {
  width: 28px;
  height: 28px;
}
.cls-1 { fill: #db5800; fill-rule: evenodd; }

.icon--euro {
  width: 35px;
  height: 58px;
}
.cls-1 { stroke: #af1e2d; stroke-width: 2px; fill: none; fill-rule: evenodd; }

.icon--facturas {
  width: 33px;
  height: 39px;
}
.cls-1 { fill: #af1e2d; fill-rule: evenodd; }

.icon--file-bold {
  width: 1792px;
  height: 1792px;
}

.icon--file-csv {
  width: 32px;
  height: 45px;
}

.icon--file-doc {
  width: 32px;
  height: 45px;
}

.icon--file-exe {
  width: 32px;
  height: 45px;
}

.icon--file-odf {
  width: 32px;
  height: 45px;
}

.icon--file-ods {
  width: 32px;
  height: 45px;
}

.icon--file-pdf {
  width: 32px;
  height: 45px;
}

.icon--file-sql {
  width: 32px;
  height: 45px;
}

.icon--file-xls {
  width: 32px;
  height: 45px;
}

.icon--file-zip {
  width: 32px;
  height: 45px;
}

.icon--file {
  width: 512px;
  height: 512px;
}

.icon--filter {
  width: 14px;
  height: 8px;
}

.icon--flag {
  width: 512px;
  height: 512px;
}

.icon--grow-text {
  width: 20px;
  height: 11.2px;
}
.st0{fill:#AF1E2D;}

.icon--help-circle {
  width: 28px;
  height: 28px;
}

.icon--info-circle {
  width: 28px;
  height: 28px;
}

.icon--logo-american-express {
  width: 160px;
  height: 100px;
}

.icon--logo-jcb {
  width: 62px;
  height: 44px;
}

.icon--logo-mastercard {
  width: 63px;
  height: 37px;
}

.icon--logo-paypal {
  width: 63px;
  height: 16px;
}

.icon--logo-registradores-center {
  width: 424.5px;
  height: 268px;
}

.icon--logo-registradores-line {
  width: 316px;
  height: 56.7px;
}

.icon--logo-registradores-simple {
  width: 127786px;
  height: 157439px;
}

.icon--logo-registradores {
  width: 433.5px;
  height: 183px;
}

.icon--logo-visa {
  width: 63px;
  height: 19px;
}

.icon--menu {
  width: 32px;
  height: 32px;
}

.icon--print {
  width: 15px;
  height: 12px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#AF1E2D;}

.icon--reduce-text {
  width: 20px;
  height: 11.2px;
}
.st0{fill:#AF1E2D;}

.icon--registros {
  width: 43px;
  height: 41px;
}
.cls-1 { fill: #af1e2d; fill-rule: evenodd; }

.icon--search {
  width: 32px;
  height: 32px;
}

.icon--sec-apply {
  width: 36px;
  height: 53px;
}
.st0{fill:#AF1E2D;}

.icon--sec-car {
  width: 52px;
  height: 39px;
}
.st0{fill:#B01F2E;}

.icon--sec-card {
  width: 47px;
  height: 29px;
}
.st0{fill:#AF1E2D;}

.icon--sec-company {
  width: 45px;
  height: 44px;
}
.st0{fill:#AF1E2D;}

.icon--sec-folder {
  width: 50px;
  height: 44px;
}
.st0{fill:#AF1E2D;}

.icon--sec-home {
  width: 54px;
  height: 51px;
}
.st0{fill:#AF1E2D;}

.icon--sec-key {
  width: 42px;
  height: 45px;
}
.st0{fill:#AF1E2D;}

.icon--sec-payment {
  width: 32px;
  height: 43px;
}
.st0{fill:#AF1E2D;}

.icon--sec-pen {
  width: 56px;
  height: 53px;
}
.st0{fill:#B01F2E;}

.icon--sec-phone {
  width: 30px;
  height: 51px;
}
.st0{fill:#AF1E2D;}

.icon--shield {
  width: 19px;
  height: 24px;
}

.icon--solicitudes {
  width: 54px;
  height: 26px;
}
.cls-1 { fill: #af1e2d; stroke: #af1e2d; fill-rule: evenodd; }

.icon--spinner {
  width: 16px;
  height: 16px;
}

.icon--user-menu {
  width: 25px;
  height: 24px;
}

.icon--user {
  width: 14px;
  height: 24px;
}

.icon--usuario {
  width: 19px;
  height: 33px;
}
.cls-1 { stroke: #af1e2d; stroke-width: 2px; fill: none; fill-rule: evenodd; }

