extends includes/_tpl-base.pug

block title
  title Cuenta confirmada

block body

  - var headerMenu = false
  - var footer = 'footer'


  body

    .main-global

      include includes/_tpl-header.pug

      main.main-content


        .main-content__wrap

          .confirm-head

            h1.title-confirm Su cuenta se ha creado correctamente

            .confirm-head__text
              p Ahora podr치 realizar todo tipo de solicitudes, ver informaci칩n solicitada anteriormente, hist칩rico de facturas y mucho m치s.


          a.link.link--primary.link--icon.space-between.grid-a-2(href='#')
            span Continuar
            svg.icon.rotate-180
              use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')



      include includes/_tpl-footer.pug
