extends includes/_tpl-base.pug

block title
  title Asociar usuario

block body

  - var headerMenu = true
  - var userOnline = false
  - var menuLinks = false
  - var user_item1 = 'active'
  - var footer = 'footer'

  body

    .main-global

      include includes/_tpl-header.pug

      main.main-content

        //- include includes/_tpl-topbar.pug

        .main-content__wrap


          h1.title-page.title-page--noline

            a.link.link--titleback(href="#")
              svg.icon.primary
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')
            | Asociar usuario

          p Le enviaremos la invitación para asociarse al siguiente email:


          form(autocomplete="off",action="portada-propiedad.html")

            .gen-msg.gen-msg--info.grid-a-12.grid-c-4.pull-right
              p <strong class="uppercase">Importante:</strong> El usuario asociado tendrá como dirección de facturación la que usted tenga asignada a cada departamento.

              p
                a.link Más información

              svg.gen-msg__icon
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

            .text-box.grid-a-12.grid-c-4

              .form-box
                label.label(for='inEmail') Email del usuario
                input.input#inEmail(type='text',placeholder='Introduzca su email', autofocus)

              .form-box
                label.label(for='inRepEmail') Repita el email
                input.input#inRepEmail(type='text',placeholder='Introduzca de nuevo el email')

              .form-box
                label.label(for='inDepAs') Departamento asociado
                p Elija un Departamento para este usuario
                .form-ico.form-ico--select
                  select#inDepAs.select
                    option Seleccione un departamento
                  svg.icon
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-down')

              .rb-group.rb-group--horizontal.rb-group--line
                fieldset
                  legend Permisos
                  .rb-option.grid-a-12.grid-b-6
                    label.rb-label(for='radioh1')
                      input#radioh1.invisible.radiobutton(type='radio',name='radioh',checked)
                      span.rb-pick
                      span.rb-text Usuario
                      span.rb-line


                  .rb-option.grid-a-12.grid-b-6
                    label.rb-label(for='radioh2')
                      input#radioh2.invisible.radiobutton(type='radio',name='radioh')
                      span.rb-pick
                      span.rb-text Administrador
                      span.rb-line
                    a.modal-lateral-open(data-content='modal01', href="#modal01", title="Mostrar ayuda")
                      svg.icon.rb-icon.primary
                        title Mostrar ayuda
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')




            .form-action.btn-group
              button.btn.btn--primary.btn--medium Enviar
              button.btn.btn--secondary.btn--medium Cancelar


            .hide
              .modal01
                h1.modal-title Administrador
                .modal-text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



      include includes/_tpl-footer.pug
