extends includes/_tpl-base.pug

block title
  title Certificaciones - Datos

block body

  - var headerMenu = false
  - var userOnline = false
  - var menuLinks = false

  - var topbar = 'topbar--dark'
  - var topbarTitle = 'Solicitud registral: Certificación de dominio y cargas'
  - var topbarLink = '¿Qué incluye?'
  - var topbarSteps = [{num: "1", state: "list__item--active"}, {num: "2", state: ""}, {num: "3", state: ""}, {num: "4", state: ""}]

  - var footer = 'footer'

  body.tpl-col42.tpl-resume

    .main-global

      include includes/_tpl-header.pug

      include includes/_tpl-topbar.pug

      main.main-content

        .main-content__wrap

          h1.title-page Datos de la solicitud

          form.form(autocomplete='off',action='solicitud-pago.html')
            .panel-row
              .panel-col.panel-col--left

                .text-box
                  h2.title-mod ¿Quién la solicita?

                  .rb-group
                    fieldset
                      legend.invisible Seleccione una opción

                      //- nota: solo visible para certificaciones
                      .rb-option
                        label.rb-label(for='radio-a1')
                          input#radio-a1.invisible.radiobutton(type='radio',name='cert-sol')
                          span.rb-pick
                          span.rb-text En nombre propio

                      .rb-option
                        label.rb-label(for='radio-a2')
                          input#radio-a2.invisible.radiobutton(type='radio',name='cert-sol',data-content='cert-sol-0')
                          span.rb-pick
                          span.rb-text Otro solicitante


                  .form-panel.cert-sol-0.hide

                    .row
                      .form-box.grid-a-12.grid-c-6
                        label.label(for='nif') NIF
                        input.input#nif(type='text',placeholder='Introduzca el NIF', data-validation="length alphanumeric", data-validation-length="min8")

                    .row
                      .form-box.grid-a-12.grid-c-6
                        label.label(for='nombre') Nombre
                        input.input#nombre(type='text',placeholder='Introduzca el nombre', data-validation="length alphanumeric", data-validation-length="min3")

                    .row
                      .form-box.grid-a-12.grid-c-6
                        label.label(for='apellidos') Apellidos / Denominación social
                        input.input#apellidos(type='text',placeholder='Introduzca los apellidos o denominación social', data-validation="length alphanumeric", data-validation-length="min3")

                    .cb-option
                      label.cb-label(for='cbObs')
                        input#cbObs.invisible.checkbox(type='checkbox',data-content='cert-obs')
                        span.cb-pick
                        span.cb-text Observaciones

                    .form-panel.cert-obs.hide
                      .form-box
                        label.label.hide Textarea
                        textarea.textarea(name='textarea',rows=3)




                .text-box
                  h2.title-mod Seleccione un interés legítimo
                    a.modal-lateral-open(data-content='modal01', href="#modal01", title="Mostrar ayuda")
                      svg.icon.primary
                        title Mostrar ayuda
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')

                  .hide
                    .modal01
                      h1.modal-title.modal-title--icon
                        svg.icon.info
                          use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')
                        |  Interés legítimo
                      .modal-text
                        p En general deberá tratarse siempre de un interés que se integre en el tráfico jurídico mercantil de inmuebles o derechos. Pueden alegarse otros intereses, no directamente relacionados con el tráfico de inmuebles, pero, en ese caso, deberá consistir en el ejercicio de un derecho amparado en una Ley. El interés debe manifestarse expresamente y será calificado por el registrador.
                        p
                          a.link.link--primary Más información



                  .rb-group
                    fieldset
                      legend Debe especificar un motivo por el que se solicita o la finalidad para la que se usará la información

                      //- nota: solo visible para certificaciones
                      .rb-option
                        label.rb-label(for='radio-b0')
                          input#radio-b0.invisible.radiobutton(type='radio',name='cert-int',checked)
                          span.rb-pick
                          span.rb-text Soy titular de la finca

                      .rb-option
                        label.rb-label(for='radio-b1')
                          input#radio-b1.invisible.radiobutton(type='radio',name='cert-int',checked)
                          span.rb-pick
                          span.rb-text Investigación jurídico-económica sobre crédito, solvencia o responsabilidad.

                      .rb-option
                        label.rb-label(for='radio-b2')
                          input#radio-b2.invisible.radiobutton(type='radio',name='cert-int')
                          span.rb-pick
                          span.rb-text Investigación jurídica sobre el objeto, su titularidad o limitaciones.

                      .rb-option
                        label.rb-label(for='radio-b3')
                          input#radio-b3.invisible.radiobutton(type='radio',name='cert-int')
                          span.rb-pick
                          span.rb-text Investigación para contratación o interposición de acciones.

                      .rb-option
                        label.rb-label(for='radio-b4')
                          input#radio-b4.invisible.radiobutton(type='radio',name='cert-int')
                          span.rb-pick
                          span.rb-text El solicitante es titular de algún dereche sobre la finca.

                      .rb-option
                        label.rb-label(for='radio-b5')
                          input#radio-b5.invisible.radiobutton(type='radio',name='cert-int',data-content='cert-int--01')
                          span.rb-pick
                          span.rb-text Otros.

                        .form-panel.cert-int--01.hide
                          .row
                            .form-box.grid-a-12.grid-c-8
                              label.label.invisible(for='in-otro') Especifique un interés
                              input.input#in-otro(type='text',placeholder='', data-validation='length', data-validation-length='min5')


                .text-box

                  h2.title-mod Tipo de certificación

                  .rb-group
                    fieldset
                      legend Seleccione el tipo de certificacion

                      //- nota: solo visible para certificaciones
                      .rb-option
                        label.rb-label(for='cert-01')
                          input#cert-01.invisible.radiobutton(type='radio',name='tipo-cert',data-content='cert-00')
                          span.rb-pick
                          span.rb-text Certficación de Dominio y Cargas

                      .rb-option
                        label.rb-label(for='cert-02')
                          input#cert-02.invisible.radiobutton(type='radio',name='tipo-cert',data-content='cert-01')
                          span.rb-pick
                          span.rb-text Certficación de Dominio


                .text-box

                  h2.title-mod Honorarios

                  p La expedición de la certificación devengará los honorarios establecidos en el arancel de los Registradores, aprobado por RD 1427/1989 de 17 de noviembre (B.O.E. 285/1989). Ver honorarios

                  p El despacho de la certificación podrá dar lugar a la cancelación de las cargas caducadas conforme a lo dispuesto en el artículo 353 del Reglamento Hipotecario, por lo que los honorarios devengados podrán incrementarse en el caso de que sea necesario cancelar dichas cargas.

                  .row
                    .gen-msg.gen-msg--info
                      .gen-msg__text
                        p En estos momentos no podemos estimar el coste para este tipo de solicitud.
                        p Una vez lo conozcamos, procederemos con el pago automáticamente.
                      svg.gen-msg__icon
                        use(xlink:href='../static/img/common/svg/svg-symbols.svg#info-circle')

                  .form-panel.cert-00.hide


                    p Para la expedición de la certificación se realizará una reserva en su tarjeta del limite de 150€ o el que usted elija a continuación:


                    .rb-group
                      fieldset
                        legend Seleccione el tipo de certificacion

                        //- nota: solo visible para certificaciones
                        .rb-option
                          label.rb-label(for='lim-75')
                            input#lim-75.invisible.radiobutton(type='radio',name='limite-cert',checked)
                            span.rb-pick
                            span.rb-text
                              <strong>Límite de 75€.</strong> Le avisaremos si supera los 75€.

                        .rb-option
                          label.rb-label(for='lim-120')
                            input#lim-120.invisible.radiobutton(type='radio',name='limite-cert',checked)
                            span.rb-pick
                            span.rb-text
                              <strong> Límite de 120€</strong> Le avisaremos si supera los 120€.

                        .rb-option
                          label.rb-label(for='lim-no')
                            input#lim-no.invisible.radiobutton(type='radio',name='limite-cert',checked)
                            span.rb-pick
                            span.rb-text
                              <strong>Sin límite</strong> El cargo final se realizará automaticamente.

                  .form-panel.cert-01.hide

                    p El límite del gasto preestablecido es de 150€. Usted puede modificar dicho límite y avisarle en caso de que sea excedido.


                .text-box

                  h2.title-mod Referencia

                  p Si desea que aparezca en la información su propia referencia, indíquela a continuación.

                  .cb-option
                    label.cb-label(for='cert-ref')
                      input#cert-ref.invisible.checkbox(type='checkbox',data-content='cert-ref')
                      span.cb-pick
                      span.cb-text Añadir su referencia


                  .form-panel.cert-ref.hide

                    .row
                      .form-box.grid-a-12.grid-c-8
                        label.label(for='input-ref') Referencia
                        input.input#input-ref(type='text',placeholder='')






              .panel-col.panel-col--right

                .resume-box.resume-box--dark.resume-box--top
                  .resume-box__header
                    h2.resume-title Resumen
                    span.resume-note
                  .resume-box__content
                    table.table.table--resume

                      tbody.table-body
                        tr
                          td
                            strong Certificación de Dominio y Cargas
                            .resume__info
                              p Registro de la Propiedad de Madrid 52 <br/>
                                | Propiedad 35805, Sección 5.

            .form-action
              button.btn.btn--primary(type='submit') Continuar

        .hide
          .modal-inc
            h1.modal-title
              svg.icon.info
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#help-circle')
              | ¿Qué incluye?
            .modal-text
              p Seleccione el número máximo de fincas sobre las que desea recibir información.
              p Si a nombre del titular seleccionado aparecieren inscritas varias fincas o derechos, se generaran varias notas simples. Se le cobrará en base al número exacto de fincas encontradas.
              p
                a.link.link--primary Más información



      include includes/_tpl-footer.pug
