extends includes/_tpl-base.pug

block title
  title Confirmación propiedad

block body

  - var headerMenu = false
  - var footer = 'footer'


  body

    .main-global

      include includes/_tpl-header.pug

      main.main-content


        .main-content__wrap

          .confirm-head

            h1.title-confirm Hemos recibido la documentación correctamente

            .confirm-head__text
              p En breve le comunicaremos el estado de su cuenta y en el caso de necesitar más información se lo comunicaremos vía email

          //- p
            a.link.link--primary.link--icon(href='#')
              span Continuar
              svg.icon.rotate-180
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')

      include includes/_tpl-footer.pug
