extends includes/_tpl-base.pug

block title
  title Editar Solicitante

block body

  - var headerMenu = true
  - var userOnline = true
  - var menuLinks = false
  - var menuCol = true
  - var user_item1 = 'active'

  - var footer = 'footer-online'

  body

    .main-global

      include includes/_tpl-header.pug

      main.main-content

        //- include includes/_tpl-topbar.pug

        .main-content__wrap


          h1.title-page.title-page--noline

            a.link.link--titleback(href="#")
              svg.icon.primary
                use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')
            | Nuevo/Editar Solicitante


          p Te enviaremos un correo de confirmación a la nueva dirección

          form(autocomplete="off",action="portada-propiedad.html")

            .text-box.grid-a-12.grid-c-4

              .form-box
                label.label(for='inNif') NIF
                input.input#inNif(type='text',placeholder='Introduzca el NIF', autofocus)

              .form-box
                label.label(for='inNom') Nombre (opcional)
                input.input#inNom(type='text',placeholder='Introduzca su Nombre')

              .form-box
                label.label(for='inApe') Apellidos / Denominación Social
                input.input#inApe(type='text',placeholder='Introduzca Apellidos / Den. Social')




            .form-action.btn-group
              button.btn.btn--primary.btn--medium Guardar
              button.btn.btn--secondary.btn--medium Cancelar

              a.link.link--primary.pull-right.small Eliminar Solicitante





      include includes/_tpl-footer.pug
