doctype strict
html(lang="es")

  head

    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")


    title Solicitud enviada

    style.

      @media(max-width:480px){
        .btn-group {
          text-align: center;
          width: 100%;
        }

        .btn {
          display: inline-block;
          margin-bottom: 30px;
        }
      }

  body

    table(style="font-family: arial; max-width: 600px; margin: 0 auto")
      tr
        td(style="border-bottom: 1px solid #cccccc; margin-bottom: 20px")
          h1
            img(src='../static/img/common/mail/logo-registradores.png', alt='Registradores de España')
      tr
        td
          p(style="padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height: 20px") Hola Javier Gonzalez, <br/>Le comunicamos que ya tiene a su disposición la siguiente solictud:

      tr
        td
          table(style="background-color: #f3f3f3; border-top: 2px solid #000000; width: 100%; padding: 20px; margin-bottom: 30px; font-size: 14px")
            tr
              td(style="max-width: 180px; display: block; padding-bottom: 15px") Nº de solicitud
              td(style="padding-bottom: 15px; font-weight: bold") H36FN45F6
            tr
              td(style="max-width: 180px; display: block; padding-bottom: 15px") Tipo:
              td(style="padding-bottom: 15px") Nota Simple
            tr
              td(style="max-width: 180px; display: block; padding-bottom: 15px") Fecha de creación:
              td(style="padding-bottom: 15px") 07/01/2016
            tr
              td(style="max-width: 180px; display: block; padding-bottom: 15px") Información de:
              td(style="padding-bottom: 15px") Registro de la Propiedad de Madrid 53. <br/>Propiedad 35805. Sección 5
            tr
              td(colspan='2')
                table(style='width: 100%; padding-top: 30px; text-transform: uppercase; border-spacing: 0')
                  tr
                    td(style='border-bottom: 2px solid #58AF6A')
                      span(style='font-size: 12px; background-color: #58AF6A; color: white; text-transform: uppercase; display: inline-block; padding-top: 20px; padding-bottom: 20px; padding-left: 15px; padding-right: 20px; margin-bottom: -2px; text-transform: uppercase')
                        img(src='../static/img/mail/check.png', alt='', style='margin-right: 10px; vertical-align: middle')
                        | Enviada - 08/07/2016
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td(style='background-color: white; padding: 15px; font-size: 15px')
                      span(style='padding-bottom: 10px; display: block; font-size: 12px; color: #A2A2A2') Apellido / Razón social
                      span(style='display: block; color: #292929; font-size: 18px; font-weight: 700; line-height: 22px;') Unión de créditos inmobiliarios -uci-sa Establecimiento financiero de crédito
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td(style='background-color: white; padding: 15px; font-size: 15px')
                      span(style='padding-bottom: 10px; display: block; font-size: 12px; color: #A2A2A2') Nif
                      span(style='display: block; color: #292929; font-size: 18px; font-weight: 700; line-height: 22px;') A14010342
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%; margin-bottom: 1px')
                    td(style='background-color: white; padding: 15px 10px 30px 15px; font-size: 15px; text-transform: none;') Consultado el índice Central, <strong>No aparecen</strong> titularidades vigentes a su favor en <strong>Todo el territorio nacional</strong>
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td(style='background-color: white; padding: 15px; font-size: 15px')
                      span(style='padding: 20px 10px 15px 0; display: block; font-size: 12px; color: #A2A2A2') Apellido / Razón social
                      span(style='display: block; color: #292929; font-size: 18px; font-weight: 700; line-height: 22px;') Unión de créditos inmobiliarios -uci-sa Establecimiento financiero de crédito
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td(style='background-color: white; padding: 15px; font-size: 15px')
                      span(style='padding-bottom: 10px; display: block; font-size: 12px; color: #A2A2A2') Nif
                      span(style='display: block; color: #292929; font-size: 18px; font-weight: 700; line-height: 22px;') A14010342
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td(style='background-color: white; padding: 15px 15px 30px 15px; text-transform: none') Consultado el índice Central, <strong>SI aparecen</strong> titularidades vigentes a su favor en los siguientes registros:
                  tr(style='border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; display: table; width: 100%')
                    td
                      table(style='text-transform: none; background: red; border-spacing: 0; width: 100%')
                        tr(style='background: #f2f2f2; color: #a1a1a1; margin-bottom: 1px; width: 100%; font-size: 12px; text-transform: uppercase')
                          td(style='padding: 10px 15px') Registro
                          td Municipio
                          td Provincia
                        tr(style='background: #ffffff; margin-bottom: 1px')
                          td(style='padding: 15px; border-bottom: 1px solid #e2e2e2') Armilla
                          td(style='border-bottom: 1px solid #e2e2e2') Ogijares
                          td(style='border-bottom: 1px solid #e2e2e2') granada
                        tr(style='background: #ffffff')
                          td(style='padding: 15px; border-bottom: 1px solid #e2e2e2') Ponferrada
                          td(style='border-bottom: 1px solid #e2e2e2') Toreno
                          td(style='border-bottom: 1px solid #e2e2e2') León
                        tr(style='background: #ffffff')
                          td(colspan='3', style='padding: 15px; border-bottom: 1px solid #e2e2e2')
                            a(href='#', style='color: #af1e2d; font-size: 14px') Solicitar nota simple de este titular
      tr
        td.btn-group(style="width: 100%")
          table(style="margin-bottom: 100px")
            tr
              td
                a.btn(href='#',style="background: #B21D2D; color: white; border: 2px solid #B21D2D; padding: 15px 10px; text-transform: uppercase; text-decoration: none; border-radius: 5px; margin-right: 10px; font-size: 13px; font-weight: bold; letter-spacing: 1px") Ver solicitud
                  img(src='../static/img/common/mail/file.png', alt='', style='margin-left: 10px; vertical-align: middle')
                a.btn(href='#',style="background: white; color: #B21D2D; border: 2px solid #B21D2D; padding: 15px 10px; text-transform: uppercase; text-decoration: none; border-radius: 5px; font-size: 13px; font-weight: bold; letter-spacing: 1px") Descargar pdf
                  img(src='../static/img/common/mail/arrow-down.png', alt='', style='margin-left: 10px; vertical-align: middle')

      tr
        td
          table(style="border-top: 1px solid #676B6C; width: 100%; font-size: 13px")
            tr
              td(style="width: 50%; text-align: left")
                img(src='../static/img/common/mail/logo-registradores-bn.png', alt='Registradores de España', style='margin-top: -3px; margin-left: -3px')

              td(style="width: 50%; text-align: right; color: #6d6d6d; font-weight: bold") ¿Dudas? <br />
                a(href="#", style='color: #6d6d6d; font-weight: normal') Contacte con nosotros
