doctype strict
html(lang="es")

  head

    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700",rel="stylesheet")


    title Confirmación solicitud

  body

    table(style="font-family: 'Open Sans', Tahoma, Geneva, sans-serif; max-width: 600px; margin: 0 auto")
      tr
        td(style="border-bottom: 1px solid #e8e8e8; margin-bottom: 20px")
          h1
            img(src='../static/img/common/mail/logo-registradores.png', alt='Registradores de España')
      tr
        td
          p(style="padding-top: 20px; font-size: 15px; line-height: 24px") Hola, <br /> Ha recibido una solicitud para asociar su cuenta con los siguientes datos

      tr
        td
          table(style="width:100%")
            tr
              td(style="background:#f3f3f3; padding: 10px; width: 100%")
                p(style="padding: 0 0 5px 0; margin: 0") Departamento: #Oficina San Sebastian
                p(style="padding: 0 0 5px 0; margin: 0") Administrador: Javier Martin Bretón, 10885522Q.
                P(style="padding: 0 0 5px 0; margin: 0") Permisos: Usuario

      tr
        td
          p(style="font-size: 15px; line-height: 24px; padding-bottom:10px") Una vez cree la cuenta, estará asociado a este departamento.

      tr
        td.btn-group(style="width: 100%")
          table(style="margin-bottom: 100px")
            tr
              td
                a.btn(href='#',style="background: #B21D2D; color: white; border: 2px solid #B21D2D; padding: 15px 10px; text-transform: uppercase; text-decoration: none; border-radius: 5px; margin-right: 10px; font-size: 13px; font-weight: bold; letter-spacing: 1px") Asociar y crear cuenta

      tr
        td
          table(style="border-top: 1px solid #e8e8e8; width: 100%; font-size: 13px")
            tr
              td(style="width: 50%; text-align: left")
                img(src='../static/img/common/mail/logo-registradores-bn.png', alt='Registradores de España', style='margin-top: -3px; margin-left: -3px')

              td(style="width: 50%; text-align: right; color: #6d6d6d; font-weight: bold") ¿Dudas? <br />
                a(href="#", style='color: #6d6d6d; font-weight: normal') Contacte con nosotros
