extends includes/_tpl-base.pug

block title
  title Preficha Propiedad

block body

  - var headerMenu = false

  - var topbar = 'topbar--dark'
  - var topbarTitle = 'Volver'

  - var footer = 'footer'

  body.tpl-prewrap.tpl-note

    .main-global

      include includes/_tpl-header.pug

      main.main-content

        .main-content__title
          .main-content__wrap

            h1.title-page
              a.link.link--titleback(href="#")
                svg.icon.primary
                  use(xlink:href='../static/img/common/svg/svg-symbols.svg#arrow-circle')

              | Nota Simple. H25439900

        .main-content__prewrap

          .main-content__wrap

            .panel-row

              .panel.panel--note

                h2.title Datos de la solicitud

                ul.list.row
                  li.list__item.grid-a-6.grid-c-2
                    span.over-title TIPO:
                    span.title.request-type Nota simple
                  li.list__item.grid-a-6.grid-c-2
                    span.over-title Fecha de creaci칩n
                    span.title.request-date 07/01/2016
                  li.list__item.grid-a-6.grid-c-3
                    span.over-title Informaci칩n solicitada
                    span.title.request-info Registro de la Propiedad Sevilla 4. Propiedad 185, Secci칩n 1
                  li.list__item.grid-a-6.grid-c-3
                    span.over-title Solicitante
                    span.title.request-owner Javier Gonzalez de las Heras, 10884425Q
                  li.list__item.grid-a-12.grid-c-2
                    ul.sub-list
                      li.list__item
                        a.btn.btn--secondary.btn--medium.btn--icon
                          | Descargar PDF
                          svg.icon
                            use(xlink:href='../static/img/common/svg/svg-symbols.svg#download-file')
                      li.list__item
                        a.btn.btn--secondary.btn--medium.btn--icon
                          | Imprimir
                          svg.icon
                            use(xlink:href='../static/img/common/svg/svg-symbols.svg#print')


              .panel-tab.panel-tab--denied
                .panel-tab__content.request-status
                  svg.icon.icon--registradores
                    use(xlink:href='../static/img/common/svg/svg-symbols.svg#blocked')
                  | Denegada - 08/07/2016 (18:00)

              .panel.panel--light.panel--detail.request-response
                p
                  strong Respuesta del Registro

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            //- .add
            //-   a.link.link--primary
            //-     svg.icon.icon--registradores
            //-       use(xlink:href='../static/img/common/svg/svg-symbols.svg#add')
            //-     | M치s solicitudes de esta propiedad.


      include includes/_tpl-footer.pug
