extends includes/_tpl-base.pug

block title
  title Usuarios asociados

block body

  - var headerMenu = true
  - var menuLinks = true
  - var userOnline = true
  - var menuCol = true
  - var user_item1 = 'active'
  - var footer = 'footer'


  body

    .main-global

      include includes/_tpl-header.pug

      main.main-content

        .main-content__wrap

          form
            .form-box
              label.label Contraseña
              input.input.pw1(type="password", placeholder="Introduzca contraseña", title='Mínimo 4, máximo 12 (números, letras o símbolos)', data-indicator='pwindicator1', pattern="[^0].{3,12}$", maxlength='12', required)
              .form-text Mínimo 4, máximo 12 (números, letras o símbolos)
              #pwindicator1.pw-bar
                .pw-bar__bar
                  span.pw-bar__line
                .pw-bar__text.label

              .form-box
                label.label Repita contraseña
                input.input.pw2(type="password", placeholder="Introduzca contraseña", title='Mínimo 4, máximo 12 (números, letras o símbolos)', pattern="[^0].{3,12}$", maxlength='12', required)
                .form-text.pw.error.hide La contraseña no coincide

            .cnt-button
              button#submit_pw.btn.btn--primary.btn--medium Aceptar



      include includes/_tpl-footer.pug
